html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    padding-top: 9.4rem;
}

hr {
    border-bottom: 1px dashed #647781;
    background-color: transparent;
    opacity: 1;
    margin: 0;
}

.border-ryt {
    border-right: 1px dashed #647781;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.form-select:focus {
    border-color: #343a40;
    outline: 0;
    -webkit-box-shadow: 0px 3px 6px #00000029;
    box-shadow: 0px 3px 6px #00000029;
}

.btn:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media (min-width: 991px) {
    /*=== Trigger  ===*/
    .animate {
        -webkit-animation-duration: 0.8s;
        animation-duration: 0.8s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    .animate-dir {
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;
    }
    /*=== Animations start here  ===*/
    /*==== FADE IN UP ===*/
    @-webkit-keyframes fadeInUp {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    @keyframes fadeInUp {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    .fadeInUp {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
    }
    /*=== FADE IN DOWN ===*/
    .fadeInDown {
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
    }
    @-webkit-keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    @keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    /*=== FADE IN LEFT ===*/
    @-webkit-keyframes fadeInLeft {
        from {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    @keyframes fadeInLeft {
        from {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    .fadeInLeft {
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
    }
    /*==== FADE IN RIGHT ===*/
    @-webkit-keyframes fadeInRight {
        from {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    @keyframes fadeInRight {
        from {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    .fadeInRight {
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
    }
    .link-icon img {
        transition: 0.7s;
        -webkit-transition: 0.7s;
        -moz-transition: 0.7s;
        -ms-transition: 0.7s;
        -o-transition: 0.7s;
    }
    .links-card:hover .link-icon img {
        transition: 0.7s;
        -webkit-transition: 0.7s;
        -moz-transition: 0.7s;
        -ms-transition: 0.7s;
        -o-transition: 0.7s;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.text-white-sm {
    font-size: 14px;
    letter-spacing: 0.07px;
    color: #ffffff;
    margin: 0;
}

.heading-white-xs {
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
    letter-spacing: 0.09px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
}

.heading-white-md {
    font-family: "Roboto Slab", serif;
    font-size: 26px;
    line-height: 38px;
    letter-spacing: 0px;
    color: #ffffff;
    margin: 0;
}

.heading-blue {
    font-family: "Roboto Slab", serif;
    font-size: 28px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 0.17px;
    color: #006bb6;
    margin: 0;
}

.heading-yellow {
    font-family: "Roboto Slab", serif;
    font-size: 28px;
    line-height: 1.5;
    letter-spacing: 0px;
    color: #ffbd30;
    margin: 0;
}

.title-grey-sm {
    font-size: 16px;
    letter-spacing: 0.1px;
    color: #5e5e5e;
    line-height: 24px;
    margin: 0;
    font-weight: 500;
}

.title-grey-md {
    font-size: 18px;
    letter-spacing: 0px;
    color: #5e5e5e;
    font-weight: 500;
}

.heading-white-lg {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    line-height: 26px;
    font-size: 28px;
    letter-spacing: 0.17px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
}

.desc-white {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.07px;
    color: #ffffff;
    margin: 0;
    padding: 15px 0;
}

.desc-black {
    font-size: 15px;
    letter-spacing: 0.07px;
    color: #5e5e5e;
    margin: 0;
}

.heading-white-sm {
    font-size: 22px;
    line-height: 23px;
    font-weight: 700;
    letter-spacing: 0.18px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
}

.white-link {
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.07px;
    color: #ffffff;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.white-link:hover {
    color: #ffffff;
}

.white-link span {
    margin-left: 10px;
    font-size: 18px;
}

.org-link {
    font-size: 15px;
    line-height: 21px;
    font-weight: 700;
    letter-spacing: 0.07px;
    color: #f7941c;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
}

.org-link:hover {
    color: #f7941c;
}

.org-link span {
    font-size: 18px;
}

.title-black-sm {
    font-size: 15px;
    letter-spacing: 0.07px;
    color: #101010;
    margin: 0;
}

.heading-black {
    letter-spacing: 0px;
    color: #101010;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.heading-grey {
    letter-spacing: 0.11px;
    color: #5e5e5e;
    margin: 0;
    font-size: 18px;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.btn-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 8px;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
}

.btn:last-child {
    margin-right: 0;
}

.btn_sm {
    width: 76px;
    height: 30px;
    font-size: 13px;
    font-weight: 500;
}

.btn_md {
    width: 116px;
    height: 42px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.13px;
}

.btn_lg {
    width: 116px;
    height: 42px;
    font-size: 16px;
    letter-spacing: 0.13px;
    color: #101010;
    font-weight: 700;
}

.btn-white {
    background: #ffffff;
    border: 1px solid #ffffff;
}

.btn-white:hover {
    background: transparent;
    color: #101010;
    border-color: #101010;
}

.org-btn {
    background-color: #f7941c;
    border: 1px solid #f7941c;
    color: #ffffff;
}

.org-btn:hover {
    color: #f7941c;
    border-color: #f7941c;
    background-color: transparent;
}

.white-bdr-btn {
    color: #ffffff;
    border: 1px solid #ffffff;
}

.white-bdr-btn:hover {
    color: #ffffff;
    background-color: #f7941c;
    border-color: #f7941c;
}

.ptb-60 {
    padding: 60px 0px;
}

.pb-60 {
    padding-bottom: 60px;
}

.ptb-30 {
    padding: 30px 0;
}

.mtb-20 {
    margin: 20px 0;
}

.ptb-15 {
    padding: 15px 0;
}

.pb-15 {
    padding-bottom: 15px;
}

.bg-grey {
    background-color: #f1f1f1;
}

.bg-dark-blue {
    background-color: #24598e;
    padding: 10px 0;
}

.site-header {
    -webkit-box-shadow: 0px 4px 10px #00000030;
    box-shadow: 0px 4px 10px #00000030;
    background: #fff;
    top: 35px;
}

.site-header .logo-wrap {
    padding: 10px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.site-header .navbar-expand-lg {
    display: block;
    padding: 0px;
}

.site-header .navbar-brand {
    display: block;
    margin: 0;
    padding: 0;
}

.site-header #navbarNav {
    width: 100%;
    border-top: 1px solid #d9d9d9;
    padding: 0 30px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.site-header .navbar-nav .nav-item {
    margin-right: 60px;
}

.site-header .navbar-nav .nav-item .nav-link {
    font-size: 14px;
    letter-spacing: 0.07px;
    text-transform: uppercase;
    color: #101010;
    font-weight: 500;
    padding: 0 10px;
    line-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 4px solid transparent;
}

.site-header .navbar-nav .nav-item .nav-link:hover {
    color: #006bb6;
}

.site-header .navbar-nav .nav-item .nav-link.active {
    color: #006bb6;
    border-top: 4px solid #006bb6;
}

.site-header .navbar-nav .nav-item .nav-link.dropdown-toggle.show {
    color: #006bb6;
}

.site-header .navbar-nav .nav-item .nav-link.dropdown-toggle::after {
    display: none;
}

.site-header .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.site-header .navbar-nav .nav-item .dropdown-menu {
    margin: 0;
    padding: 0;
    background: #dfdfdf;
    border-radius: 0;
}

.site-header .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    font-size: 13px;
    letter-spacing: 0px;
    color: #101010;
    font-weight: 500;
    padding: 10px;
}

.site-header .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: #006bb6;
    color: #ffffff;
}

.site-header .navbar-nav .nav-item .home-link {
    padding: 0 !important;
}

.site-header .navbar-nav .nav-item .home-link.active {
    background-color: transparent;
    border-top: 4px solid transparent;
}

.site-header .navbar-nav .nav-item .home-link.active span {
    color: #006bb6;
}

.site-header .navbar-nav .nav-item .home-link:hover {
    background-color: transparent;
}

.site-header .navbar-nav .nav-item .home-link span {
    color: #101010;
    font-size: 30px;
    line-height: 40px;
}

.header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #2a6aa9;
    padding: 8px 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10000;
}

.header-top .date {
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
}

.header-top .skip-wrap ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-top .skip-wrap ul li {
    border-right: 1px solid #ffffff;
    padding: 0 10px;
    line-height: 1.1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-top .skip-wrap ul li:last-child {
    border: none;
}

.header-top .skip-wrap ul li a {
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-decoration: none;
    min-height: 20px;
}

.header-top .skip-wrap ul li a.textplus {
    margin: 0 5px;
}

.header-top .skip-wrap ul li a.whitebox {
    background: #ffffff;
    padding: 3px 5px;
    color: #000000;
    margin-right: 10px;
}

.header-top .skip-wrap ul li a.blackbox {
    background: #000000;
    padding: 3px 5px;
    color: #ffffff;
    margin-right: 0;
}

.header-top .skip-wrap ul li a .select-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.header-top .skip-wrap ul li a .select-wrap .form-select {
    font-size: 13px;
    background: transparent;
    border: none;
    color: #ffffff;
    padding: 0 15px 0 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    z-index: 2;
}

.header-top .skip-wrap ul li a .select-wrap .form-select option {
    color: #000000;
}

.header-top .skip-wrap ul li a .select-wrap span {
    position: absolute;
    right: -5px;
    z-index: 1;
}

.header-top .org-btn:hover {
    color: #f7941c;
    border-color: #ffffff;
    background-color: #ffffff;
}

.hero-slider-wrap {
    background-image: url("../images/grid.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2a6aa9;
    padding: 30px 0 0 0;
}

#bannerSlider {
    position: relative;
}

#bannerSlider .heading-white-md {
    padding-top: 30px;
}

#bannerSlider .item {
    max-height: 350px;
}

#bannerSlider .item .banner-img-wrap {
    min-height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

#bannerSlider .owl-stage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

#bannerSlider .owl-nav {
    margin-top: 0;
}

#bannerSlider .owl-prev {
    position: absolute;
    left: 0px;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    background-color: #383876;
    border-radius: 0;
    width: 37px;
    height: 46px;
    padding: 0;
    margin: 0;
}

#bannerSlider .owl-prev span {
    color: #ffffff;
    font-size: 0;
    display: block;
    width: 15px;
    text-align: center;
    margin: auto;
}

#bannerSlider .owl-prev span:before {
    font-family: "Material Icons";
    content: "\e5e0";
    display: block;
    font-size: 25px;
}

#bannerSlider .owl-next {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    background-color: #383876;
    border-radius: 0;
    width: 37px;
    height: 46px;
    padding: 0;
    margin: 0;
}

#bannerSlider .owl-next span {
    color: #ffffff;
    font-size: 0;
    display: block;
    width: 20px;
    text-align: center;
    margin: auto;
}

#bannerSlider .owl-next span:before {
    font-family: "Material Icons";
    content: "\e5e1";
    display: block;
    font-size: 25px;
}

#bannerSlider .owl-dots {
    text-align: left;
    margin: auto;
    padding: 0 15px;
    bottom: 30px;
    position: absolute;
    left: 0;
    right: 0;
}

#bannerSlider .owl-dots .active span {
    background: #ffffff;
}

#bannerSlider .owl-dots span {
    width: 12px;
    height: 12px;
    border: 1px solid #d9d9d9;
    background: transparent;
}

@media (min-width: 992px) {
    #bannerSlider .owl-dots {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    #bannerSlider .owl-dots {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    #bannerSlider .owl-dots {
        max-width: 1320px;
    }
}

.report-select-wrap {
    position: relative;
    margin: 20px 0;
}

.report-select-wrap label {
    font-size: 15px;
    letter-spacing: 0.09px;
    color: #5e5e5e;
    position: absolute;
    top: -8px;
    left: 10px;
    background: #ffffff;
    padding: 0 10px;
}

.report-select-wrap .form-select {
    -webkit-box-shadow: 0px 3px 6px #00000029;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #b1b1b1;
    border-radius: 4px;
    height: 55px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.11px;
    color: #101010;
    padding: 0 20px;
}

.info-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.info-wrap ul {
    padding: 30px 0px;
}

.info-wrap ul li {
    padding: 15px 0;
}

.info-wrap .info-icon {
    min-width: 75px;
}

.info-wrap .info-content .total-no {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0px;
    color: #101010;
    margin: 0;
}

.info-wrap .info-content .total-no small {
    font-size: 18px;
    letter-spacing: 0px;
    color: #101010;
}

.client-img-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    text-align: center;
    min-height: 145px;
    border-radius: 6px;
}

.client-img-wrap img {
    width: auto !important;
}

.site-footer {
    background-color: #2a6aa9;
}

.site-footer .footer-links .heading-white-xs {
    padding-bottom: 20px;
}

.site-footer .footer-links ul li {
    padding-bottom: 12px;
}

.site-footer .footer-links ul li:last-child {
    padding-bottom: 0;
}

.site-footer .footer-links ul li a {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.07px;
    color: #ffffff;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.site-footer .footer-links ul li a:hover {
    color: #f7941c;
}

.site-footer .footer-links ul li a img {
    margin-right: 10px;
}

.site-footer .footer-bottom-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.site-footer .footer-bottom-links ul li {
    border-right: 1px solid #d9d9d9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1;
}

.site-footer .footer-bottom-links ul li:last-child {
    border: none;
}

.site-footer .footer-bottom-links ul li a {
    font-size: 14px;
    letter-spacing: 0px;
    color: #ffffff;
    padding: 0 10px;
}

.site-footer .footer-bottom-links ul li a:hover {
    color: #f7941c;
}

.site-footer .counter {
    font-size: 18px;
    letter-spacing: 0.14px;
    color: #ffffff;
}

.site-footer .copyright-text {
    font-size: 13px;
    letter-spacing: 0px;
    color: #f2f2f2;
    margin: 0;
    padding: 20px 0;
}

.site-footer .social-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.site-footer .social-links ul a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #f7941c;
    color: #ffffff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 5px;
}

.site-footer .social-links ul a:hover {
    background-color: #fff;
}

.site-footer .social-links ul a:hover .facebook svg path {
    fill: #3b5998;
}

.site-footer .social-links ul a:hover .twitter svg path {
    fill: #55acee;
}

.site-footer .social-links ul a:hover .insta svg path {
    fill: #e95950;
}

.about-card {
    background-color: #e9769f;
    padding: 30px;
    margin-right: -60px;
    margin-top: 60px;
    z-index: 9;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 6px;
}

.about-img-wrap img {
    border-radius: 6px;
}

.links-card {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 6px;
}

.links-card.report-bg {
    background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(42, 106, 169, 0.9)),
            to(rgba(42, 106, 169, 0.9))
        ),
        url("../images/school-children.png") center center no-repeat;
    background: linear-gradient(
            rgba(42, 106, 169, 0.9),
            rgba(42, 106, 169, 0.9)
        ),
        url("../images/school-children.png") center center no-repeat;
    background-size: cover;
    height: 100%;
}

.links-card.analytics-bg {
    background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(0, 167, 134, 0.9)),
            to(rgba(0, 167, 134, 0.9))
        ),
        url("../images/close-up-business.png") center center no-repeat;
    background: linear-gradient(rgba(0, 167, 134, 0.9), rgba(0, 167, 134, 0.9)),
        url("../images/close-up-business.png") center center no-repeat;
    background-size: cover;
}

.links-card.data-bg {
    background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(233, 118, 159, 0.9)),
            to(rgba(233, 118, 159, 0.9))
        ),
        url("../images/digital-tablet.png") center center no-repeat;
    background: linear-gradient(
            rgba(233, 118, 159, 0.9),
            rgba(233, 118, 159, 0.9)
        ),
        url("../images/digital-tablet.png") center center no-repeat;
    background-size: cover;
}

.link-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 50%;
    width: 86px;
    height: 86px;
    margin-right: 20px;
}

#videoSlider .gallery-img-wrap {
    position: relative;
}

#videoSlider .gallery-img-wrap:hover .gallery-play-icon {
    background-color: rgba(42, 106, 169, 0.8);
}

#videoSlider .gallery-img-wrap img {
    border-radius: 6px;
}

#videoSlider .gallery-img-wrap .gallery-play-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgba(16, 16, 16, 0.65);
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    border-radius: 6px;
}

#videoSlider .gallery-img-wrap .gallery-play-icon span {
    color: #ffffff;
    font-size: 45px;
}

#photoSlider .gallery-img-wrap img {
    border-radius: 6px;
}

#photoSlider .gallery-img-wrap .gallery-zoom-icon {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(42, 106, 169, 0.8);
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    border-radius: 6px;
}

#photoSlider .gallery-img-wrap .gallery-zoom-icon span {
    color: #ffffff;
    font-size: 45px;
}

#photoSlider .gallery-img-wrap:hover .gallery-zoom-icon {
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    opacity: 1;
    visibility: visible;
}

#gallery-slider {
    position: relative;
}

#gallery-slider .owl-nav {
    text-align: right;
}

#gallery-slider .owl-prev {
    background-color: #f7941c;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    padding: 0;
}

#gallery-slider .owl-prev span {
    color: #ffffff;
    font-size: 0;
    display: block;
    width: 15px;
    text-align: center;
    margin: auto;
}

#gallery-slider .owl-prev span:before {
    font-family: "Material Icons";
    content: "\e5e0";
    display: block;
    font-size: 21px;
}

#gallery-slider .owl-next {
    background-color: #f7941c;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    padding: 0;
}

#gallery-slider .owl-next span {
    color: #ffffff;
    font-size: 0;
    display: block;
    width: 20px;
    text-align: center;
    margin: auto;
}

#gallery-slider .owl-next span:before {
    font-family: "Material Icons";
    content: "\e5e1";
    display: block;
    font-size: 21px;
}

#gallery-slider .btn-wrap {
    position: absolute;
    bottom: 10px;
}

.banner-wrap {
    background-image: url(../images/grid.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2a6aa9;
    padding: 60px 0;
}

.breadcrum-wrap .breadcrumb {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.breadcrum-wrap .breadcrumb .breadcrumb-item {
    font-size: 13px;
    letter-spacing: 0.07px;
    color: #ffffff;
    line-height: 1.6;
}

.breadcrum-wrap .breadcrumb .breadcrumb-item a {
    font-size: 13px;
    letter-spacing: 0.07px;
    color: #b0c8df;
}

.breadcrum-wrap .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    font-family: "Material Icons";
    color: #ffffff;
    content: "\e409";
    font-size: 22px;
    line-height: 1;
    color: #b0c8df;
}

.card-white {
    -webkit-box-shadow: 0px 3px 12px #00000029;
    box-shadow: 0px 3px 12px #00000029;
    border-radius: 10px;
    background-color: #fff;
    margin-top: -110px;
    padding: 30px;
    overflow: hidden;
}

.aboutpage-img-wrap {
    margin-left: -30px;
    margin-top: -30px;
    border-top-left-radius: 10px;
    padding: 0 30px 30px 0;
}

.aboutpage-img-wrap img {
    border-top-left-radius: 10px;
}

.aboutpage-content .desc-black {
    padding: 10px 0;
}

.gallery-card {
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 12px #00000029;
    box-shadow: 0px 3px 12px #00000029;
    border-radius: 6px;
    margin-bottom: 30px;
}

.gallery-card .gallery-img-wrap {
    position: relative;
}

.gallery-card .gallery-img-wrap img {
    border-radius: 6px 6px 0 0;
    width: 100%;
}

.gallery-card .gallery-img-wrap .gallery-play-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgba(16, 16, 16, 0.65);
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    border-radius: 6px 6px 0 0;
}

.gallery-card .gallery-img-wrap .gallery-play-icon span {
    color: #ffffff;
    font-size: 45px;
}

.gallery-card .gallery-img-wrap:hover .gallery-play-icon {
    background-color: rgba(42, 106, 169, 0.8);
}

.gallery-card .gallery-img-wrap:hover .gallery-zoom-icon {
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    opacity: 1;
    visibility: visible;
}

.gallery-card .gallery-img-wrap .gallery-zoom-icon {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(42, 106, 169, 0.8);
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    border-radius: 6px 6px 0 0;
}

.gallery-card .gallery-img-wrap .gallery-zoom-icon span {
    color: #ffffff;
    font-size: 45px;
}

.gallery-card .gallery-content {
    padding: 15px;
}

.gallery-card .gallery-content .gallery-title {
    font-size: 18px;
    letter-spacing: 0.11px;
    color: #101010;
    line-height: 26px;
    font-weight: 500;
    margin: 0;
}

.gallery-card .gallery-content .org-btn {
    letter-spacing: 0.1px;
    color: #ffffff;
    font-size: 13px;
    height: 30px;
    border-radius: 3px;
    padding: 10px;
}

.gallery-card .gallery-content .org-btn span {
    font-size: 18px;
    margin-left: 5px;
}

.gallery-card .gallery-content .org-btn:hover {
    color: #f7941c;
}

.gallery-card .gallery-content .total-img {
    letter-spacing: 0.08px;
    color: #101010;
    font-size: 14px;
    line-height: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.gallery-card .gallery-content .total-img img {
    margin-right: 8px;
}

.gallery-card .gallery-content .org-link {
    font-size: 14px;
    font-weight: 500;
}

.top-content {
    padding: 30px 20px;
}

.dashboard-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.dashboard-wrapper .sidebar-wrap {
    background-color: #2a6aa9;
    width: 250px;
}

.dashboard-wrapper .main-content-wrap {
    background: #ebf3fb;
    padding: 15px;
    border: 1px solid #e4e4e4;
    width: calc(100% - 250px);
}

.ranking-wrap {
    padding: 20px 0;
}

.ranking-wrap ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.ranking-wrap ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ranking-wrap ul li a {
    letter-spacing: 0.09px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
}

.ranking-wrap ul li + li::before {
    font-family: "Material Icons";
    color: #ffffff;
    content: "\e409";
    font-size: 22px;
    line-height: 1;
}

.ranking-wrap .counter {
    text-align: center;
}

.ranking-wrap .counter span {
    background-color: #3e7dbc;
    padding: 20px;
    letter-spacing: 0.12px;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    max-width: 59px;
    max-height: 59px;
    margin: 15px auto;
    font-size: 24px;
    font-weight: 600;
}

.ranking-wrap .text-grey {
    letter-spacing: 0.07px;
    color: #acbccd;
    margin: 0;
    font-size: 15px;
}

.breadcrum-grey .breadcrumb {
    margin: 10px 0;
}

.breadcrum-grey .breadcrumb .breadcrumb-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
}

.breadcrum-grey .breadcrumb .breadcrumb-item.active {
    color: #2a6aa9;
}

.breadcrum-grey .breadcrumb .breadcrumb-item a {
    letter-spacing: 0.07px;
    color: #5e5e5e;
    font-size: 13px;
}

.breadcrum-grey .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    color: #5e5e5e;
    padding: 0;
}

.sidebar-accordion .accordion-item {
    border: none;
    border-radius: 0;
    background: #2a6aa9;
}

.sidebar-accordion .accordion-item .accordion-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #dbe3ee;
    padding: 5px 10px 5px 20px;
    border-bottom: 1px solid #2a6aa9;
}

.sidebar-accordion .accordion-item .accordion-header a {
    letter-spacing: 0.09px;
    color: #0d0d0d;
    font-size: 17px;
    font-weight: 500;
}

.sidebar-accordion .accordion-item .accordion-header .accordion-button {
    width: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    color: #0d0d0d;
}

.sidebar-accordion .accordion-item .accordion-header .accordion-button::after {
    display: none;
}

.sidebar-accordion
    .accordion-item
    .accordion-header
    .accordion-button[aria-expanded="true"]
    .plus {
    display: none;
}

.sidebar-accordion
    .accordion-item
    .accordion-header
    .accordion-button[aria-expanded="true"]
    .minus {
    display: block;
}

.sidebar-accordion
    .accordion-item
    .accordion-header
    .accordion-button[aria-expanded="false"]
    .plus {
    display: block;
}

.sidebar-accordion
    .accordion-item
    .accordion-header
    .accordion-button[aria-expanded="false"]
    .minus {
    display: none;
}

.sidebar-accordion .accordion-item .accordion-body {
    padding: 0;
}

.sidebar-accordion .accordion-item .accordion-body .side-navlist ul li a {
    letter-spacing: 0.14px;
    color: #ffffff;
    font-size: 15px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 10px 10px 30px;
}

.sidebar-accordion .accordion-item .accordion-body .side-navlist ul li a.active,
.sidebar-accordion .accordion-item .accordion-body .side-navlist ul li a:hover {
    background-color: #1f3f60;
}

.sidebar-accordion
    .accordion-item
    .accordion-body
    .side-navlist
    ul
    li
    a
    .icon-wrap {
    width: 40px;
}

.sidebar-accordion .state-list {
    padding: 20px;
    position: relative;
}

.sidebar-accordion .state-list ul {
    overflow-y: auto;
    height: 240px;
    /* width */
    /* Track */
    /* Handle */
}

.sidebar-accordion .state-list ul::-webkit-scrollbar {
    width: 8px;
}

.sidebar-accordion .state-list ul::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #1f3f60;
}

.sidebar-accordion .state-list ul::-webkit-scrollbar-thumb {
    background: #dbe3ee;
    border-radius: 10px;
}

.sidebar-accordion .state-list ul li {
    padding: 0px 0px 15px 0px;
}

.sidebar-accordion .state-list ul li a {
    letter-spacing: 0.13px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.sidebar-accordion .state-list ul li a .radio_checked {
    display: none;
}

.sidebar-accordion .state-list ul li a .radio_unchecked {
    display: block;
}

.sidebar-accordion .state-list ul li a.active .radio_unchecked {
    display: none;
}

.sidebar-accordion .state-list ul li a.active .radio_checked {
    display: block;
}

.sidebar-accordion .state-list ul li a span {
    font-size: 18px;
    padding-right: 8px;
}

.sidebar-accordion .district-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #3e7dbc;
    padding: 20px 10px 20px 20px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.sidebar-accordion .district-list.active {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.sidebar-accordion .district-list h2 {
    letter-spacing: 0.13px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

.sidebar-accordion .district-list .close-btn {
    background: transparent;
    border: initial;
    color: #fff;
    padding: 0;
    height: 24px;
}

.sidebar-accordion .district-list ul {
    height: 200px;
    padding: 0 0 0 15px;
}

.sidebar-accordion .district-list ul li {
    padding: 0px 0px 8px 0px;
}

.sidebar-accordion .district-list ul li a.active {
    color: #f7941c;
}

.view-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.view-wrap .form-check {
    margin: 0 30px 0 0;
}

.view-wrap .form-check:last-child {
    margin: 0;
}

.view-wrap .form-check .form-check-label {
    letter-spacing: 0px;
    color: #101010;
    font-size: 14px;
    font-weight: 500;
}

.view-wrap .form-check .form-check-input {
    background: transparent;
    border: 2px solid #5e5e5e;
}

.view-wrap .form-check .form-check-input:checked {
    background-color: #ebf3fb;
    border-color: #006bb6;
    outline: none;
    padding: 2px;
}

.view-wrap .form-check .form-check-input:checked:before {
    content: "";
    display: block;
    background: #006bb6;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.view-wrap .form-check .form-check-input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.tablayerone {
    border: none;
}

.tablayerone .nav-link {
    font-size: 14px;
    letter-spacing: 0px;
    color: #5e5e5e;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    padding: 5px 10px;
    margin-right: 10px;
}

.tablayerone .nav-link:hover {
    border: none;
    border-bottom: 1px solid transparent;
}

.tablayerone .nav-link.active {
    color: #006bb6;
    border-color: #006bb6;
    font-weight: 500;
    background: transparent;
}

.tablayertwo {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #b0bac8;
}

.tablayertwo .nav-link {
    letter-spacing: 0px;
    color: #101010;
    font-size: 17px;
    font-weight: 500;
    border: none;
    border-bottom: 3px solid transparent;
    text-transform: uppercase;
}

.tablayertwo .nav-link:hover,
.tablayertwo .nav-link:focus {
    border: none;
    border-bottom: 3px solid transparent;
}

.tablayertwo .nav-link.active {
    background: transparent;
    border: none;
    border-bottom: 3px solid #006bb6;
    color: #006bb6;
}

.tablayerthree {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: none;
}

.tablayerthree .nav-link {
    letter-spacing: 0.07px;
    color: #5e5e5e;
    font-size: 15px;
    font-weight: 500;
}

.tablayerthree .nav-link.active {
    border: 1px solid #dbe3ee;
    border-bottom: transparent;
    border-radius: 8px 8px 0px 0px;
    color: #006bb6;
}

.tablayerthree .nav-link:hover {
    border-bottom: transparent;
}

.tablayerthree-content {
    background: #fff;
    padding: 30px;
}

.card-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 6px;
    min-height: 149px;
    margin: 30px 0;
    overflow: hidden;
}

.card-content .title {
    margin: 0;
    letter-spacing: 0.12px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    z-index: 1;
}

.card-content .total-no {
    letter-spacing: 0.22px;
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    z-index: 1;
}

.card-content .card-icon {
    width: 100%;
    min-height: 149px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.card-content .card-desc {
    min-width: 159px;
    min-height: 149px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.card-content .card-desc::before {
    content: "";
    width: 100%;
    height: 169px;
    display: block;
    position: absolute;
    border-radius: 50% 0 0 50%;
    overflow: hidden;
}

.card-blue .card-desc:before {
    background: #4f83b2;
}

.card-pink .card-desc:before {
    background: #be4e76;
}

.card-yellow .card-desc:before {
    background: #9a975e;
}

.card-blue {
    background: #75a9d9;
}

.card-pink {
    background: #e9769f;
}

.card-yellow {
    background: #cac55f;
}

.category-wrap .img-wrap {
    min-height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.category-wrap .percentage {
    letter-spacing: 0px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    display: block;
}

.category-wrap .title {
    display: block;
    letter-spacing: 0px;
    color: #ffffff;
    font-size: 15px;
}

.category-wrap .card-blue,
.category-wrap .card-pink {
    min-width: 114px;
    min-height: 114px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.graph-wrap figure {
    margin: 30px 0;
}

@media (min-width: 992px) {
    #bannerSlider .owl-dots {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    #bannerSlider .owl-dots {
        max-width: 1140px;
    }
}

@media (min-width: 1440px) {
    .about-card {
        min-height: 420px;
    }
    #bannerSlider .owl-dots {
        max-width: 1320px;
    }
}

@media (max-width: 1440px) {
    .info-wrap .info-content .total-no {
        font-size: 24px;
    }
    .info-wrap .info-content .total-no small {
        font-size: 16px;
    }
    .info-wrap .info-content .title-grey-md {
        font-size: 16px;
    }
    .site-header .navbar-nav .nav-item {
        margin-right: 40px;
    }
    .heading-blue,
    .heading-yellow {
        font-size: 24px;
    }
    .desc-black {
        font-size: 14px;
    }
}

@media (max-width: 1200px) {
    .site-header .navbar-nav .nav-item {
        margin-right: 25px;
    }
    .site-header .navbar-nav .nav-item .nav-link {
        padding: 0 5px;
    }
    .site-footer .footer-bottom-links ul li a {
        font-size: 12px;
        padding: 0 5px;
    }
}

@media (max-width: 1024px) {
    .heading-white-md,
    .heading-blue,
    .heading-yellow {
        font-size: 20px;
    }
    .gallery-card {
        margin-bottom: 15px;
    }
    .gallery-card .gallery-img-wrap .gallery-play-icon span {
        font-size: 35px;
    }
    .gallery-card .gallery-content .gallery-title {
        font-size: 14px;
        line-height: 18px;
    }
}

@media (max-width: 991px) {
    br {
        display: none;
    }
    .ptb-60 {
        padding: 30px 0px;
    }
    .heading-white-md,
    .heading-blue,
    .heading-yellow {
        font-size: 16px;
    }
    .title-grey-sm {
        font-size: 13px;
        line-height: 20px;
    }
    .heading-white-xs {
        font-size: 14px;
    }
    .text-white-sm {
        font-size: 13px;
    }
    .heading-white-lg {
        font-size: 20px;
    }
    .heading-white-sm {
        font-size: 18px;
    }
    .desc-white {
        font-size: 13px;
    }
    .header-top {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .header-top .date {
        display: none;
    }
    .header-top .skip-wrap ul li:nth-child(1),
    .header-top .skip-wrap ul li:nth-child(2) {
        display: none;
    }
    .header-top .btn-wrap {
        display: none;
    }
    .site-header .logo-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        padding: 15px;
    }
    .site-header .navbar-nav {
        padding: 15px;
    }
    .site-header .navbar-nav .nav-item {
        margin-right: 0;
    }
    .site-header #navbarNav {
        position: absolute;
        background-color: #ffffff;
        left: 0;
        right: 0;
        z-index: 1000;
    }
    .site-header #navbarNav .btn-wrap {
        padding: 15px;
    }
    .site-header .toggler-icon {
        display: block;
        width: 25px;
        height: 2px;
        background-color: #2a6aa9;
        margin-bottom: 5px;
    }
    .site-header .toggler-icon:last-child {
        margin: 0;
    }
    .site-header .navbar-toggler {
        padding: 0 0 0 15px;
        margin-top: 15px;
    }
    .site-header .navbar-toggler:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    #bannerSlider .heading-white-md {
        padding-top: 0;
        font-size: 18px;
        line-height: 28px;
    }
    #bannerSlider .item .banner-img-wrap {
        min-height: 260px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    #bannerSlider .owl-prev {
        width: 27px;
        height: 36px;
    }
    #bannerSlider .owl-prev span:before {
        font-size: 15px;
    }
    #bannerSlider .owl-next {
        width: 27px;
        height: 36px;
    }
    #bannerSlider .owl-next span:before {
        font-size: 15px;
    }
    .client-img-wrap {
        margin: 10px 0;
    }
    .org-link span {
        font-size: 15px;
    }
    #gallery-slider .owl-prev span {
        width: 10px;
    }
    #gallery-slider .owl-prev span:before {
        font-size: 15px;
    }
    #gallery-slider .owl-next span {
        width: 10px;
    }
    #gallery-slider .owl-next span:before {
        font-size: 15px;
    }
    .link-icon {
        width: 56px;
        height: 56px;
    }
    .link-icon img {
        height: 25px;
    }
    .about-card {
        padding: 15px;
    }
    .report-select-wrap .form-select {
        height: 50px;
        font-size: 16px;
    }
    .report-img-wrap {
        padding: 20px 0;
    }
    .info-wrap {
        display: block;
    }
    .info-wrap ul {
        padding: 0;
    }
    .info-wrap .info-content .total-no {
        font-size: 20px;
    }
    .info-wrap .info-content .total-no small {
        font-size: 14px;
    }
    .info-wrap .info-content .title-grey-md {
        font-size: 14px;
    }
    .info-wrap .info-icon {
        min-width: 55px;
    }
    .info-wrap .info-icon img {
        height: 25px;
    }
    .aboutpage-img-wrap {
        display: none;
    }
    .card-white {
        margin-top: -80px;
        padding: 15px;
    }
    .site-footer .footer-links {
        padding-bottom: 15px;
    }
    .site-footer .footer-links .heading-white-xs {
        padding-bottom: 15px;
    }
    .site-footer .footer-links ul li {
        padding-bottom: 10px;
    }
    .site-footer .footer-links ul li a {
        font-size: 13px;
    }
    .site-footer .footer-bottom-links ul {
        display: block;
    }
    .site-footer .footer-bottom-links ul li {
        border-right: 0;
        padding: 10px 0;
    }
    .site-footer .footer-bottom-links ul li a {
        font-size: 13px;
        padding: 0;
    }
    .site-footer .counter {
        font-size: 16px;
    }
    .site-footer .copyright-text {
        padding: 15px 0;
    }
    .gallery-card .gallery-content .total-img {
        font-size: 12px;
    }
    .gallery-card .gallery-content .org-link {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .mb-4-sm {
        margin-bottom: 1.5rem;
    }
    .about-img-wrap {
        display: none;
    }
    .about-card {
        margin-right: 15px;
        margin-top: 0;
    }
    .row-reverse-sm {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .site-footer .social-links {
        padding: 15px 0;
    }
    .site-footer .social-links ul {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
  }
  /*# sourceMappingURL=style.css.map */

  /* loader */
  .lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000000;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
