// Topbar-CSS
.heading-black {
    letter-spacing: 0px;
    color: #101010;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.breadcrum-grey{
    .breadcrumb{
        margin: 10px 0;
        .breadcrumb-item{
            display: flex;
            align-items: center;
            padding: 0;
            &.active {
                color: #2A6AA9;
            }
            a {
                letter-spacing: 0.07px;
                color: #5E5E5E;
                font-size: 13px;
            }
            & + .breadcrumb-item::before {
                color: #5E5E5E;
                padding: 0;
            }
        }
    }
}

.visualization-wrap{
    .top-content {
        padding: 20px;
        margin: 0;
    }
    .select-wrap{
        .select-label {
            letter-spacing: 0px;
            color: #777777;
            font-size: 13px;
            font-weight: 400;
            margin-bottom: 10px;
        }
        .form-select {
            box-shadow: 0px 0px 5px #00000033;
            border-radius: 21px;
            letter-spacing: 0px;
            color: #101010;
            height: 42px;
            padding: 0 35px 0 20px;
            font-size: 16px;
            @media (max-width: 991px) {
                font-size: 13px;
            }
        }
    }
}

.search-list{
    .search-menu {
        padding: 10px 15px;
        max-height: 140px;
        li {
            font-size: 14px;
            color: #101010;
            padding: 5px 0;
            cursor: pointer;
        }
}
}

// Average-Performance-CSS
.average-performance-wrap{
    border-radius: 6px;
    .ap-top-heading {
        letter-spacing: 0px;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 400;
        margin: 0;
        text-align: center;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            margin-right: 10px;
            height: 30px;   
        }
    }
    .averag-performance-content {
        border-radius: 0 0 6px 6px;
        padding: 15px 30px;
    }
    .light-blue {
        border: 1px solid #75A9D9;
    }
    .light-yellow{
        border: 1px solid #CAC55F;
    }
    .light-pink {
        border: 1px solid #E9769F;
    }
    .light-sagegreen {
        border: 1px solid #3CACAE;
    }
    .light-green {
        border: 1px solid #72B562;
    }
    .light-purple {
        border: 1px solid #C574BF;
    }
    .light-red {
        border: 1px solid #EB6C69;
    }
}

// Graphcard-CSS
.apcard-white {
    box-shadow: 0px 0px 20px #75a9d94d;
    border-radius: 6px;
    background: #fff;
    margin: 15px 0;
    .apcard-header {
        border-bottom: 1px dashed #647781;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .apcard-heading{
            letter-spacing: 0.1px;
            font-size: 20px;
            font-weight: 500;
            margin: 0;
            padding: 15px;
            @media (max-width: 1440px) {
                font-size: 17px;
            }
            img{
                margin-right: 5px;
            }
        }
        .toggle-btn {
            padding: 15px;
        }
        .apcard-heading-red {
            color: #F2744A;
        }
        .apcard-heading-darkgreen {
            color: #16A085;
        }
        .apcard-heading-darkpurple {
            color: #9262E6;
        }
        .apcard-heading-blue {
            color: #2196F3;
        }
        .apcard-heading-darkpink {
            color: #EC4A6A;
        }
        .apcard-heading-lightpurple {
            color: #D13CEB;
        }
        .apcard-heading-orange {
            color: #FFB142;
        }
        .apcard-heading-green {
            color: #BDC581;
        }
        .apcard-heading-pink {
            color: #FD7272;
        }   
    }
    .apcard-content {
        padding: 30px;
        position: relative;
        figure{
            margin: 0;
        }
    }   
}

.apcard-graph-wrap{
    min-height: 25rem;
    .select-wrap {
        margin-bottom: 30px;
    }
    .img-wrap {
        text-align: center;
    }
}

// Tabs-CSS
#visualtab {
    justify-content: space-between;
    background: #2A6AA9;
    border: none;
    .nav-link {
        letter-spacing: 0px;
        color: #FFFFFF;
        font-size: 17px;
        padding: 10px 30px;
        border: transparent;
        margin: 0;
        text-transform: uppercase;
        border-radius: 0;
        &:hover {
            border: transparent;
            background: #F7941C;
            border-radius: 0;
        }
        &.active {
            background: #F7941C;
            border: transparent;
            border-radius: 0;
        }
    }
}

// Whitecard-css
.visual-card-white {
    box-shadow: 0px 0px 10px #00000024;
    border-radius: 6px;
    background: #fff;
    padding: 30px;
    .total-no {
        letter-spacing: 0.22px;
        color: #101010;
        margin: 0;
        font-size: 28px;
        font-weight: bold;
    }
    .title-grey {
        letter-spacing: 0.12px;
        color: #5E5E5E;
        font-size: 15px;
        margin: 0;
        padding: 5px 0;
    }
    .visual-imgwrap {
        padding: 15px 0;
    }
}


.dropdown-select-wrap{
    .select-label {
        letter-spacing: 0px;
        color: #777777;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .dropdown {
        box-shadow: 0px 0px 5px #00000033;
        border-radius: 21px;    
        background: #fff;
        position: relative;
        width: 100%;
        .menu-level-main {
            letter-spacing: 0px;
            color: #101010;
            font-size: 14px;
            line-height: 42px;
            position: relative;
            display: block;
            padding: 0 35px 0 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &::after{
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translate(-50%,-50%);
                margin: 0;
            }
            
        }
        .inputSearch {
            margin: 10px;
            .form-control{
                &:focus{
                    box-shadow: none;
                }
            }
        }
        .dropdown-item{
            &:focus, &:hover, &:active {
                color: #101010;
                background-color: transparent;
            }
        }
        .dropdown-menu {
            border: none;
            &.show {
                left: 0 !important;
                right: 0 !important;
                z-index: 999;
                border-bottom: 1px solid #e5e2e2;
            } 
            &.menu-level-1 {
                .dropdown-item{
                    position: relative;
                    font-size: 14px;
                    padding-left: 40px;
                    &::after{
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        left: 20px;
                        margin-right: 15px;
                    }
                }
            } 
            .menu-level-2{
                max-height: 200px;
                text-indent: 20px;
                border-bottom: none;
                position: relative !important;
                transform: unset !important;
                .dropdown-list{
                    padding: 5px 0;
                    .dropdown-item{
                        &::after{
                            left: 40px;
                        }
                    }
                }
            }
            .menu-level-3 {
                padding: 0; 
                max-height: 140px;
                border-bottom: none;
                position: relative !important;
                transform: unset !important;
            }
        }
    }
}

// charttype-CSS
.charttype-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: #fff;
    border-radius: 6px;
    display: flex;
    #charttypeTab {
        padding: 10px;
        border-bottom: 0;
        border-right: 1px solid #ccc;
        align-items: center;
        flex-direction: column;
        .nav-item {
            width: 100%;
            margin-bottom: 15px;
            .nav-link {
                font-size: 14px;
                margin: 0;
                text-align: center;
                width: 100%;
                border: 1px solid #2a6aa9;
                border-radius: 2px;
                padding: 10px;
                color: #2a6aa9;
                font-weight: 500;
                &.active{
                    background-color: #2a6aa9;
                    color: #fff;
                }
                &:hover{
                    background-color: #2a6aa9;
                    color: #fff;
                }
            }
        }
    }

    #charttypeContent {
        width: 100%;
        padding: 10px;
    }
    .charttype-content-list{
        ul {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-flow: wrap;
            max-height: 400px;
            margin-right: 8px;
            li {
                border: 2px solid #c3c3c3;
                margin: 10px;
                width: 150px;
                text-align: center;
                position: relative;
                padding: 5px;
                overflow: hidden;
                &:hover{
                    .charttype-title {
                        top: 0;
                    }
                }
                .charttype-title {
                    top: 100%;
                    background: rgba(0,0,0,.7);
                    width: 100%;
                    position: absolute;
                    height: 100%;
                    left: 0;
                    color: #fff;
                    transition: all .3s ease-in-out;
                    -webkit-transition: all .3s ease-in-out;
                    -moz-transition: all .3s ease-in-out;
                    -ms-transition: all .3s ease-in-out;
                    line-height: 100px;
                    font-size: 14px;
                    margin: 0;
                }

            }
        }
    }

    .close-charttype {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #101010;
        }
    }
    
}


@media(max-width: 991px){
    .visualization-wrap{
        .top-content {
            padding: 15px;
        }
    }
    #visualtab {
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
        .nav-link {
            font-size: 14px;
            padding: 10px 15px;
            min-width: 140px;
        }
    }
    .visual-tabcontent-wrap {
        padding: 15px;
        .visual-per-card{
            margin: 15px 0;
        }
    }
    .visual-card-white{
        margin-bottom: 15px;    
        .total-no {
            font-size: 18px;
        }
        .title-grey {
            font-size: 14px;
        }
    }
    .average-performance-wrap{
        .averag-performance-content {
            padding: 15px;
        } 
        .ap-top-heading {
            font-size: 14px;
        } 
    } 
    .apcard-white{
        .apcard-header{
            .apcard-heading {
                font-size: 14px;
            }
        }
    }
    .charttype-wrap {
        #charttypeContent {
            padding: 5px;
        }
        .charttype-content-list {
            ul {
                li {
                    width: 120px;
                    margin: 5px;
                    .charttype-title {
                        line-height: 80px;
                        font-size: 13px;
                    }
                }
            }
        }
        #charttypeTab {
            .nav-item{
                .nav-link {
                    font-size: 13px;
                    padding: 8px;
                    font-weight: 400;
                }
            }
        }
    }
    .per-card{
        h2{
            font-size: 18px;
        }
        .per-card-content{
            .per-card-desc{
                min-width: 70px;
                .total-no {     
                    font-size: 20px;
                }
            }
        }
    }
}

.scrollbar-y {
    overflow-y: auto;
    /* width */
    &::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: #dbe3ee;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #1f3f60;
        border-radius: 10px;
    }
}

.scrollbar-y-lightblue {
    overflow-y: auto;
    /* width */
    &::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: #75A9D9;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background:  #e6e6e6; 
        border-radius: 10px;
    }
}

.scrollbar-y-darkblue{
    overflow-y: auto;
    /* width */
    &::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: #4F83B2;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background:  #e6e6e6; 
        border-radius: 10px;
    }
}
.no-data {
    height: 50vh;
}

// .maptab-select-wrap, 
// .scatterplot-select-wrap {
//     margin: 30px 0;
//     @media (max-width: 991px) {
//         margin: 15px 0; 
//     }
// }
    
#graphcardtab {
    border-bottom: 1px dashed #647781;
    padding: 0 20px;
    .nav-item {
        &:nth-child(1){
            .nav-link{
                &.active {
                    color: #FD7272;
                    border-bottom-color: #FD7272;
                    img{
                        filter: grayscale(0);
                    }
                }
                img{
                    filter: grayscale(100%);
                }
            }
        }

        &:nth-child(2){
            .nav-link{
                &.active {
                    color: #FFB142;
                    border-bottom-color: #FFB142;
                    img{
                        filter: grayscale(0);
                    }
                }
                img{
                    filter: grayscale(100%);
                }
            }
        }

        &:nth-child(3){
            .nav-link{
                &.active {
                    color: #BDC581;
                    border-bottom-color: #BDC581;
                    img{
                        filter: grayscale(0);
                    }
                }
                img{
                    filter: grayscale(100%);
                }
            }
        }
        
        .nav-link {
            letter-spacing: 0.1px;
            color: #707070;
            font-size: 20px;
            font-weight: 400;
            border: none;
            border-bottom: 4px solid transparent;
            margin-right: 6rem;
            padding: 8px 5px;
            @media (max-width: 1440px) {
                font-size: 17px;
            }
            @media (max-width: 767px) {
                margin-right: 2rem;
                font-size: 14px;
                min-width: 120px;
            }
        }
    }
    @media (max-width: 991px) {
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
    }
}

#graphcardtabContent {
    padding: 15px 30px;
}

.maptab-wrap{
    .apcard-graph-wrap {
        padding: 30px 15px;
    }
}


.maptabdropdown-wrap{
    position: relative;
    .maptabdropdown-label {
        position: absolute;
        z-index: 1;
        min-width: 110px;
        letter-spacing: 0px;
        color: #FFFFFF;
        background: #2A6AA9;
        top: 0;
        bottom: 0;
        left: 0px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: left;
        font-size: 18px;
        padding-left: 10px;
    }
    .react-select__control{
        border-radius: 0;
        .react-select__value-container{
            padding-left: 120px;
            .react-select__single-value{
                font-size: 14px;
                color: #101010;
            }
        }
    }
    .react-select__indicators{
        .react-select__indicator-separator{
            display: none;
        }
        .react-select__indicator{
            color: #777777;
        }
    }
    .react-select__menu{
        margin: 0;
        border-radius: 0;
    }
    .react-select__menu-list{
        padding: 0;
    }
    .react-select__option  {
        background: #2a6aa9;
        color: #fff;
        font-size: 14px;
    }
    .react-select__no-Options-Message  {
        background: #2a6aa9;
        color: #fff;
        font-size: 14px;
    }
}

.graphplaybtn-wrap {
    padding: 15px 0;
    .graphplaybtn {
        border: none;
        background: no-repeat;
        span {
            font-size: 30px;
        }
    }
}
    