// State
.bg-orange {
    background-color: #f7941c !important;
}
.bg-grey {
    background-color: #e7e7e8 !important;
}
.border-left {
    border-left: 1px dashed #647781 !important;
}
.border-top {
    border-top: 1px dashed #647781 !important;
}
.border-right {
    border-right: 1px dashed #647781 !important;
}
.border-bottom {
    border-bottom: 1px dashed #647781 !important;
}
.text-28 {
    font-size: 28px;
}
.negative-margin {
    margin-left: -4.5rem;
}
// footer
@mixin footer-mark($bottom) {
    position: absolute;
    bottom: $bottom;
    width: 100%;
    left: 0;
    right: 0;
    .reportview-footer {
        padding: 16px;
        background: #d6e5f4;
        position: relative;
        .page-no {
            position: absolute;
            left: 50%;
            top: 0px;
            transform: translate(-50%, -50%);
            background: #2a6aa9;
            padding: 5px 25px;
            letter-spacing: 0.11px;
            color: #ffffff;
            font-size: 16px;
            font-weight: 500;
        }
    }
}
.state-pdf {
    .reportview-class-wrap {
        .reportview-header {
            padding: 12px 30px;
            h2 {
                font-size: 18px !important;
            }
            .class {
                font-size: 16px;
                padding: 12px 30px;
            }
        }
        .reportview-class-content {
            .gender-right {
                h4 {
                    font-size: 20px;
                    margin-bottom: 1rem !important;
                }
                .social-right-wrap {
                    .per-text-1 {
                        left: 78px !important;
                    }
                    .per-text-3 {
                        left: 78px !important;
                    }
                    .per-text-2 {
                        right: 20px !important;
                    }
                    .per-text-4 {
                        right: 20px !important;
                    }
                }
                figure {
                    padding-left: 0;
                }
            }
            .left {
                h4 {
                    font-size: 20px;
                } 
            }
            .state-managemnt {
                margin-left: 0;
            }
        }
        .student-fbcard {
            height: 18rem !important;
            overflow-wrap: break-word;
        }
        .teacher-fbcard {
            overflow-wrap: break-word;
            height: 14rem !important;
        }
        .student-fbcard-2 {
            overflow-wrap: break-word;
            height: 21rem !important;
        }
        .children-testimony {
            .infotab-content {
                h2 {
                    font-size: 30px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
        .pendamic-wrap {
            .virus-icon1,
            .virus-icon2,
            .virus-icon4,
            .virus-icon5 {
                animation: none;
            }
            .virus-icon2 {
                left: 57px;
            }
            .virus-icon4 {
                right: 70px;
            }
        }
        .pendamic-progressbar-card {
            .pendamic-progressbar-list {
                padding: 20px;
            }
        }
        .state-performance-table {
            th {
                vertical-align: middle;
                font-weight: 400;
            }
        }
        .ach-table {
            .table {
                tbody {
                    tr {
                        td {
                            padding: 6.5px 12px;
                        }
                    }
                }
            }
        }
    }
    .pg2 {
        // @include footer-mark(-1.5rem);
    }
    .nrc-pg2 {
        @include footer-mark(-1rem);
    }

    .nrc-pg3 {
        // @include footer-mark(-1rem);
        .reportview-footer {
            padding: 16px;
            .page-no {
                padding: 5px 25px;
                font-size: 16px;
            }
        }
    }
    .nrc-pg4 {
        @include footer-mark(-24rem);
    }
    .nrc-pg5 {
        @include footer-mark(-40.5rem);
    }
    .nrc-pg6 {
        @include footer-mark(-26.5rem);
    }
    .nrc-pg7 {
        @include footer-mark(-13rem);
    }
    .nrc-pg8 {
        @include footer-mark(-2rem);
    }
    .nrc-pg9 {
        @include footer-mark(-9rem);
    }
    .pg3 {
        @include footer-mark(-3.5rem);
    }
    .pg4 {
        @include footer-mark(-58rem);
    }
    .pg5 {
        @include footer-mark(-43.5rem);
    }
    .pg6 {
        @include footer-mark(-8.5rem);
    }
    .pg7 {
        @include footer-mark(-5.5rem);
    }
    .pg8 {
        @include footer-mark(-3.5rem);
    }
    .pg9 {
        @include footer-mark(-60rem);
    }
}
.state-heading {
    position: relative;
    .heading-wrap {
        position: absolute;
        bottom: 31.5rem;
        left: 4rem;
        h2 {
            font-size: 51px;
        }
        h1 {
            font-size: 71px;
        }
    }
    .heading-img-wrap {
        position: absolute;
        top: 3rem;
        left: 1rem;
    }
}
.highlights-container {
    .reportview-class-content {
        padding: 0 12px 50px;
        h1 {
            font-size: 2.8rem;
        }
        h2 {
            font-size: 2.3rem;
        }
        .left-sec {
            .wrap {
                .img-wrapper {
                    margin-bottom: 2rem;
                    h5 {
                        span {
                            font-size: 2rem;
                        }
                    }
                    img {
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }
        .pad-4 {
            padding: 4rem;
        }
        .right-sec {
            .report-card-head {
                position: relative;
                min-height: 180px;
                margin-bottom: 2rem;
                .container {
                    min-height: 86px;
                    margin-top: -3px;
                }
                .img-tile {
                    width: 130px;
                    height: 130px;
                    border-radius: 50%;
                    position: absolute;
                    top: 4rem;
                    right: 7.5rem;
                    border: 8px solid #f1f1f1;
                    .student-img,
                    .school-img {
                        margin-top: 16px;
                    }
                    .teacher-img {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}
.text-15 {
    font-size: 15px;
}
.performance-graph {
    padding: 30px;
    .container {
        z-index: 2;
        @mixin legends($border-color) {
            border: 7px solid $border-color;
            height: 12px;
            margin: 4px 4px 0 0;
        }
        .legend-1 {
            @include legends(#000);
        }
        .legend-2 {
            @include legends(#919191);
        }
        .legend-3 {
            @include legends(#b1b1b1);
        }
        .legend-4 {
            @include legends(#d9d9d9);
        }
    }
    .graph-mark {
        .left-sec {
            width: 30%;
        }
        .container {
            z-index: 100;
        }
        @mixin class-container(
            $pad-tb,
            $height,
            $max-height,
            $border-left,
            $border-top-bottom
        ) {
            padding: 0.6rem 0.2rem;
            height: $height;
            z-index: 25;
            border: 1px solid #707070;
            .inner-container {
                width: 100px;
                height: $max-height;
                padding: $pad-tb 1rem;
                position: relative;
                &::before {
                    border-left: $border-left solid #2a6aa9;
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: -33px;
                    transform: translate(0%, -50%);
                    display: block;
                    border-top: $border-top-bottom solid transparent;
                    border-bottom: $border-top-bottom solid transparent;
                }
            }
        }
        .class-3-container {
            @include class-container(3rem, 8.5rem, 7rem, 33px, 56px);
        }
        .class-5-container {
            @include class-container(3rem, 8.5rem, 7rem, 33px, 56px);
        }
        .class-8-container {
            @include class-container(3.7rem, 10rem, 8.7rem, 33px, 69px);
        }
        .class-10-container {
            @include class-container(4.3rem, 11rem, 9.7rem, 33px, 77px);
        }
        .distribution-graph {
            width: 70%;
            .highcharts-figure {
                #c3-range-graph {
                    margin: -7px 0 0 0;
                }
                #c5-range-graph {
                    margin: -10px 0 0 0;
                }
                #c8-range-graph {
                    margin: -28px 0 0 0;
                }
                #c10-range-graph {
                    margin: -20px 0 0 0;
                }
                .highcharts-xaxis-labels {
                    display: none;
                }
            }
        }
    }
}
.table-data {
    .left {
        table {
            font-size: 12px;
            font-weight: 600 !important;
            td {
                padding: 1.5px;
            }
        }
        .management-table {
            .head-rotate {
                th {
                    transform: rotate(-90deg);
                    padding: 14px 1px;
                }
            }
        }
    }
}
.state-testimony {
    .children-testimony {
        .infotab-content {
            border-radius: 8px;
            padding: 0.5rem;
            min-height: 9rem;
        }
    }
    .teacher-testimony {
        .infotab-content {
            h2 {
                color: #7cb342;
            }
        }
    }
    .head-teacher-testimony {
        .infotab-content {
            h2 {
                color: #75a9d9;
            }
        }
    }
}
.state-table {
    .ach-table {
        tbody {
            tr {
                &:last-child {
                    td:last-child {
                        border-bottom-right-radius: 0;
                    }
                }
                th {
                    width: 9rem !important;
                }
                td {
                    min-width: 25rem;
                    &:nth-child(5) {
                        border-right: 2px solid #f1f1f1;
                    }
                    &.border-class {
                        border-bottom: 1px solid #b5b5b545;
                    }
                }
            }
        }
    }
}
@mixin custom-progress(
    $fnt-size,
    $border-clr,
    $margin,
    $progress-bg,
    $progress-inner-bg,
    $inner-font
) {
    .progress-percent {
        font-size: $fnt-size;
        width: 1em;
        height: 1em;
        position: relative;
        background: $border-clr;
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
        margin: $margin;
        .progress-inner {
            position: absolute;
            left: 0;
            top: 0;
            width: 1em;
            height: 1em;
            clip: rect(0 1em 1em 0.5em);
            .progress-round {
                position: absolute;
                left: 0;
                top: 0;
                width: 1em;
                height: 1em;
                background: $progress-bg;
                clip: rect(0 1em 1em 0.5em);
                transform: rotate(180deg);
                transition: 1.05s;
            }
        }
        .progress-inbox {
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
            background: $progress-inner-bg;
            z-index: 3;
            border-radius: 50%;
            .percent_text {
                position: absolute;
                font-size: $inner-font;
                font-weight: 600;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 3;
            }
            .bottom-txt {
                position: absolute;
                font-size: 15px;
                line-height: 16px;
                margin-top: 15px;
                text-align: center;
                left: 50%;
                top: 55%;
                transform: translate(-50%, -50%);
                z-index: 3;
            }
        }
    }
    .percent_more .progress-inner {
        clip: rect(0 0.5em 1em 0em);
    }
    .percent_more:after {
        position: absolute;
        left: 0.5em;
        top: 0em;
        right: 0;
        bottom: 0;
        background: $progress-bg;
        content: "";
    }
}
.blue-progress-bar {
    @include custom-progress(8rem, #fff, 10px auto, #75a9d9, #d6e5f4, 26px);
}
.pink-progress-bar {
    @include custom-progress(8rem, #fff, 10px auto, #e9769f, #fedbe7, 26px);
}
.green-progress-bar {
    @include custom-progress(8rem, #fff, 10px auto, #7cb342, #d8e8c6, 26px);
}
.blue-progress-bar-lg {
    @include custom-progress(14rem, #eee, auto, #75a9d9, #d6e5f4, 32px);
}
.pink-progress-bar-lg {
    @include custom-progress(14rem, #eee, auto, #e9769f, #fedbe7, 32px);
}
.pink-progress-bar-lg-txt {
    @include custom-progress(14rem, #eee, auto, #e9769f, #fedbe7, 32px);
    .percent_text {
        top: 35% !important;
    }
}
.green-progress-bar-lg {
    @include custom-progress(14rem, #eee, auto, #7cb342, #d8e8c6, 32px);
}
.green-progress-bar-lg-txt {
    @include custom-progress(14rem, #eee, auto, #7cb342, #d8e8c6, 32px);
    .percent_text {
        top: 35% !important;
    }
}
.blue-progress-bar-sm {
    @include custom-progress(6.5rem, #fff, 10px auto, #75a9d9, #d6e5f4, 20px);
}
.pink-progress-bar-sm {
    @include custom-progress(6.5rem, #fff, 10px auto, #e9769f, #fedbe7, 20px);
}
.green-progress-bar-sm {
    @include custom-progress(6.5rem, #fff, 10px auto, #7cb342, #d8e8c6, 20px);
}

/* line progress bar */
@mixin progress-bar($bg-color) {
    position: relative;
    width: 100%;
    height: 8px;
    background-color: #fff;
    border-radius: 4px;
    margin: 10px auto;
    .line-progress-bar {
        height: 100%;
        width: 0;
        background-color: $bg-color;
        border-radius: 4px;
    }
    .perc {
        position: absolute;
        top: -30px;
        right: 0;
        font-size: 22px;
        font-weight: bold;
        line-height: 30px;
    }
}
.green-progress-container {
    @include progress-bar(#7cb342);
}
.pink-progress-container {
    @include progress-bar(#e9769f);
}

// National PDF CSS
.p-30-60 {
    padding: 30px 60px;
}
.mtb-15 {
    margin: 15px 0;
}
.mtb-60 {
    margin: 60px 0;
}
.heading-black-main {
    font-size: 35px;
    margin: 0;
    font-weight: bold;
}
.title-black-main {
    letter-spacing: 0px;
    color: #101010;
    text-align: center;
    font-size: 24px;
    margin: 0;
    font-weight: bold;
}

.national-heading {
    position: relative;
    .heading-img-wrap {
        position: absolute;
        top: 12%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .heading-wrap {
        position: absolute;
        top: 20%;
        left: 5%;
        h2 {
            letter-spacing: 0.35px;
            color: #ffffff;
            font-family: "Roboto Slab", serif;
            font-size: 70px;
            font-weight: bold;
        }
        p {
            letter-spacing: 0.2px;
            color: #ffffff;
            font-size: 40px;
            font-weight: 400;
        }
    }
}
.ap-graph-container {
    .graph-wrap {
        position: relative;
        &:after {
            border-bottom: 1px solid #ccc;
            content: "";
            display: block;
            bottom: 49px;
            position: absolute;
            left: 0;
            right: 0;
        }
        figure {
            margin: 0;
        }

        .highcharts-axis-line {
            display: none;
        }
    }
    .category {
        margin: 0 15px;
        border-radius: 23px;
        .text-white {
            padding: 5px 10px;
            display: block;
            font-size: 16px;
        }
    }
}

.sample-container {
    .student-fbcard {
        .title {
            font-size: 18px;
        }
    }
    .progressbar-circle-lg {
        .progress {
            .progress-value {
                p {
                    font-size: 18px;
                }
            }
        }
    }
    .progressbar-line {
        p {
            font-size: 18px;
        }
    }
}

.nrc-pendamic-container {
    .pendamic-progressbar-card {
        .pendamic-progressbar-list {
            .col-md-3 {
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    border-right: 1px dashed #647781;
                }
            }
            .progress {
                width: 125px;
                height: 125px;
                line-height: 125px;
                &:after {
                    border: 14px solid #fff;
                }
                .progress-left {
                    .progress-bar {
                        border-top-right-radius: 125px;
                        border-bottom-right-radius: 125px;
                        border-width: 14px;
                    }
                }
                .progress-right {
                    .progress-bar {
                        border-top-left-radius: 125px;
                        border-bottom-left-radius: 125px;
                        border-width: 14px;
                    }
                }
                .progress-value {
                    font-size: 30px;
                }
            }
            .title {
                font-size: 18px;
            }
        }
    }
}

.subject-map-wrap {
    .subject-map-title {
        letter-spacing: 0px;
        color: #000000;
        text-align: center;
        margin: 0;
        font-size: 30px;
        font-weight: bold;
    }
    .subject-map-iconname {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px 0;
        span {
            letter-spacing: 0px;
            color: #ffffff;
            font-size: 20px;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
            border-radius: 23px;
            img {
                height: 25px;
                margin-right: 10px;
            }
        }
    }
}

.virus-icon-top {
    position: relative;
    .virus-icon1 {
        position: absolute;
        top: 50px;
        left: 0px;
        width: 50px;
    }

    .virus-icon2 {
        position: absolute;
        top: -15px;
        left: 80px;
        width: 80px;
    }

    .virus-icon3 {
        position: absolute;
        top: 0px;
        right: 100px;
        width: 50px;
    }

    .virus-icon4 {
        position: absolute;
        top: 30px;
        right: 0px;
        width: 80px;
    }
}

.virus-icon-bottom {
    position: relative;
    min-height: 120px;
    .virus-icon1 {
        position: absolute;
        top: -70px;
        left: 20px;
        width: 100px;
    }

    .virus-icon2 {
        position: absolute;
        left: 150px;
        width: 50px;
        top: -80px;
    }

    .virus-icon3 {
        position: absolute;
        left: 40%;
        width: 100px;
    }

    .virus-icon4 {
        position: absolute;
        left: 48%;
        width: 50px;
        top: -60px;
    }

    .virus-icon5 {
        position: absolute;
        right: 30%;
        width: 70px;
    }

    .virus-icon6 {
        position: absolute;
        right: 15%;
        width: 100px;
        top: -140px;
    }

    .virus-icon7 {
        position: absolute;
        right: 0;
        width: 50px;
        top: -100px;
    }
}

.about-nas {
    .highlights-container {
        .reportview-class-content {
            padding: 3rem 1rem;
            h1 {
                font-size: 4rem;
                color: #57585a;
                margin-bottom: 3rem;
                line-height: 2rem;
            }
            .top-card {
                z-index: 1;
            }
            .about-sec-card {
                background: #e6e7e9;
                padding: 11rem 2rem 2rem 2rem;
                margin-top: -9rem;
                p {
                    line-height: 2.1rem;
                    text-align: justify;
                }
            }
        }
    } 
}
.class-name {
    .reportview-class-content {
        height: 50em;
        .class-card {
            clip-path: polygon(0 0%, calc(100%) 0, calc(100%) 100%, 0 100%, 5rem 50%);
            position: absolute;
            width: 75%;
            left: 25%;
            top: 45%;
            background: #57585a;
            h2 {
                font-size: 2.45rem;
            }
            h1 {
                font-size: 3.5rem;

            }
        }
    }
}

.light-grey {
    background-color: #e6e7e9 !important;
}
.light-orange {
    background-color: #f7941f1c !important;
}
.overall-box {
    border: 1px solid #000;
    .blue-txt {
        color: #00BFFF;
    }
}